<mat-toolbar color="primary" class="navbar">
  <span class="brand">
    <mat-icon>receipt_long</mat-icon>
    <span>Sistema de Notas & Estoque</span>
  </span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/produtos" routerLinkActive="active-link">
      <mat-icon>inventory_2</mat-icon>
      Produtos
    </a>
    <a mat-button routerLink="/notas-fiscais" routerLinkActive="active-link">
      <mat-icon>point_of_sale</mat-icon>
      Notas Fiscais
    </a>
  </nav>
</mat-toolbar>