.card-container {
  padding: 1.5rem;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.full-width-table {
  width: 100%;
}

.chip-fechada {
  background-color: #2e7d32 !important;
  color: white !important;
}

.texto-concluido {
  color: #2e7d32;
  font-weight: 500;
}